{{define "label_modal_search_combobox"}}
<div class="align-top px-4 py-2">
    <div x-data="{
            allOptions: [
                    {{range .Labels}}
                    {value: '{{.}}', label: '{{.}}'},
                    {{end}}
            ],
            options: [],
            selectedOption: null,
            setSelectedOption(option) {
                this.selectedOption = option
                this.$refs.hiddenTextField.value = option.value
            },
            getFilteredOptions(query) {
                this.options = this.allOptions.filter((option) =>
                    option.label.toLowerCase().includes(query.toLowerCase()),
                )
                if (this.options.length === 0) {
                    this.$refs.noResultsMessage.classList.remove('hidden')
                } else {
                    this.$refs.noResultsMessage.classList.add('hidden')
                }
            },
            handleKeydownOnOptions(event) {
                // if the user presses backspace or the alpha-numeric keys, focus on the search field
                if ((event.keyCode >= 65 && event.keyCode <= 90) || (event.keyCode >= 48 && event.keyCode <= 57) || event.keyCode === 8) {
                    this.$refs.searchField.focus()
                }
            },
            }"
            class="flex w-full max-w-xs flex-col gap-1"
            x-on:keydown="handleKeydownOnOptions($event)"
            x-init="options = allOptions">
        <div class="relative">

            <!-- Hidden Input To Grab The Selected Value  -->
            <input id="label" name="label" x-ref="hiddenTextField" hidden=""/>
            <div
              id="makesList"

              class="flex max-h-44 w-full flex-col overflow-hidden overflow-y-auto border-outline bg-surface-alt py-1.5 dark:border-outline-dark dark:bg-surface-dark-alt rounded-radius border"
              role="listbox"
              aria-label="labels list"
              x-on:keydown.down.prevent="$focus.wrap().next()"
              x-on:keydown.up.prevent="$focus.wrap().previous()"
              x-transition >

                <!-- Search  -->
                <div class="relative">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="1.5" class="absolute left-4 top-1/2 size-5 -translate-y-1/2 text-on-surface/50 dark:text-on-surface-dark/50" aria-hidden="true" >
                        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"/>
                    </svg>
                    <input type="text" class="w-full border-b border-outline bg-surface-alt py-2.5 pl-11 pr-4 text-sm text-on-surface focus:outline-hidden focus-visible:border-primary disabled:cursor-not-allowed disabled:opacity-75 dark:border-outline-dark dark:bg-surface-dark-alt dark:text-on-surface-dark dark:focus-visible:border-primary-dark" name="searchField" aria-label="Search" x-on:input="getFilteredOptions($el.value)" x-ref="searchField" placeholder="Search" />
                </div>

                <!-- Options  -->
                <ul class="flex max-h-44 flex-col overflow-y-auto">
                    <li class="hidden px-4 py-2 text-sm text-on-surface dark:text-on-surface-dark" x-ref="noResultsMessage">
                        <span>No matches found</span>
                    </li>
                    <template x-for="(item, index) in options" x-bind:key="item.value">
                        <li class="combobox-option inline-flex justify-between gap-6 bg-surface-alt px-4 py-2 text-sm text-on-surface hover:bg-surface-dark-alt/5 hover:text-on-surface-strong focus-visible:bg-surface-dark-alt/5 focus-visible:text-on-surface-strong focus-visible:outline-hidden dark:bg-surface-dark-alt dark:text-on-surface-dark dark:hover:bg-surface-alt/5 dark:hover:text-on-surface-dark-strong dark:focus-visible:bg-surface-alt/10 dark:focus-visible:text-on-surface-dark-strong" role="option" x-on:click="setSelectedOption(item)" x-on:keydown.enter="setSelectedOption(item)" x-bind:id="'option-' + index" tabindex="0">
                            <!-- Label  -->
                            <span x-bind:class="selectedOption == item ? 'font-bold' : null" x-text="item.label"></span>
                            <!-- Screen reader 'selected' indicator  -->
                            <span class="sr-only" x-text="selectedOption == item ? 'selected' : null"></span>
                            <!-- Checkmark  -->
                            <svg x-cloak x-show="selectedOption == item" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor" fill="none" stroke-width="2" class="size-4" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5">
                            </svg>
                        </li>
                    </template>
                </ul>
            </div>
        </div>
        <div
            class="flex flex-col-reverse justify-between sm:flex-row sm:items-center md:justify-end pt-4"
        >
            <button
                x-on:click="AnnotatorModule.{{.SubmissionFn}}($refs.hiddenTextField.value)"
                type="button"
                class="whitespace-nowrap rounded-radius bg-primary border border-primary dark:border-primary-dark px-4 py-2 text-center text-sm font-medium tracking-wide text-on-primary transition hover:opacity-75 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary active:opacity-100 active:outline-offset-0 dark:bg-primary-dark dark:text-on-primary-dark dark:focus-visible:outline-primary-dark">
                Submit
            </button>
        </div>

    </div>
</div>
{{end}}
